body{
    /*background-color: rgb(37, 29, 29);*/
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
#hero {
  width: 592px;
  margin: 0 auto 72px;
}
h1{
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}
h1 span{
  font-weight: bold;
}
p{
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}
#imgCentral{
  margin-bottom: 72px;
}
span{
  color: orange;
}
#footer a{
  color: orange;
  text-align: center;
  font-size: 14px;
}
#footer a + a {
  margin-left: 24px;
}
#footer .line{
  width: 568px;
  height: 0px;
  border: 1px #ECEFF2 solid;
  margin: 0 auto 8px;
}
#sol{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 135px;
}